@font-face {
  font-family: "Regular";
  src: local("Regular"), url(./assets/fonts/Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("Bold"), url(./assets/fonts/Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Light";
  src: local("Light"), url(./assets/fonts/Light.ttf) format("truetype");
}

.navbar-theme {
  background-color: #000;
}

.navlink-theme {
  color: #FFF;
}

body {
  font-family: Regular;
  font-size: 28px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFF;
}

html {
  background-color: #282c34;
}
